@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Protest+Riot&display=swap');

#content {
    margin: 0 auto;
    max-width: 1600px;
    font-family: "Nunito Sans", "Bradley Hand", sans-serif; 
}
nav a {
    text-align: center;
    color:rgb(46, 46, 210);
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color:white ;
}
.button-box {
    text-align: center;
}
#background {
    height: 725px;
    background-color:rgb(205, 218, 230);
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color:aliceblue;
    font-family: "Nunito Sans", "Bradley Hand", sans-serif; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}
body h1 {
    font-family: "Protest Riot", "Bradley Hand", sans-serif;
}
header {
    background-color:rgba(188, 211, 230, 0.69);
    font-family: "Nunito Sans", "Bradley Hand", sans-serif; 
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
.book, .join {
    background-color:rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Nunito Sans", "Bradley Hand", sans-serif; 
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color:lightskyblue;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
.home-title {
    font-size: 2em;
    margin-top: 10px;
}
.msg h2 {
    font-family: "Protest Riot", "Bradley Hand", sans-serif;
}
h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.river-card {
    margin: 100px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    margin: 100px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    margin: 100px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
.card-img {
    border: 20px solid #99b9e6;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
.card-img:hover {
    opacity:  .6;
    transform: scale(1.1);
}
.msg {
    background-color:rgb(83, 126, 162);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}
main section img {
    box-sizing: border-box;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    width: 100%;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    width: 100%;
}
#hero-img {
    width: 100%;
}

#hero-msg {
    color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
    text-align: center;
}
#hero-msg h1{
    text-align: center;
}
main section {
    text-align: center;
    font-family: "Nunito Sans", "Bradley Hand", sans-serif; 
    display: grid;   
}

footer {
    background-color:rgb(188, 211, 230);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer, .social img {
    padding-top: 15px;
}
footer a {
    text-decoration: none;
    font-family: "Nunito Sans", "Bradley Hand", sans-serif; 
}
footer p {
    font-size: 1.2em; 
}
footer p a:hover {
    text-decoration: underline;
}



/* rivers CSS */

.river-img {
    width: 100%;
}
.river-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    row-gap: 80px;
    margin: 100px  0;
    justify-items: center;
    align-items: center;
}
.middle image .gray canyon image .Grand Canyon image {
    width: 100%;
    z-index: 1;
}
.title_1 {
    grid-row: 1/2;
    grid-column: 1/3;
    font-size: 90%;
    margin: 10px;
    text-align: left;
    padding: 20px;
    color:white;
}
.title_2 {
    grid-row: 2/3;
    grid-column: 2/4;
    font-size: 90%;
    margin: 30px;
    text-align: left;
    padding: 20px;
    color: white;
}
.title_3 {
    grid-row: 3/4;
    grid-column: 1/3;
    font-size: 90%;
    margin: 30px;
    text-align: left;
    padding: 20px;
    color: white;
}
#background1 {
    background-color:rgb(141, 168, 190);
    grid-column: 1/4;
    grid-row: 1/2;
    height: 550px;
    width:100%;
}
#background2 {
    background-color:rgb(141, 168, 190);
    grid-column: 1/4;
    grid-row: 2/3;
    height: 550px;
    width:100%;
}
#background3 {
    background-color:rgb(141, 168, 190);
    grid-column: 1/4;
    grid-row: 3/4;
    height: 550px;
    width:100%;
}
#image1 {
    grid-row: 1/2;
    grid-column: 3/4;
}
#image2 {
    grid-row: 2/3;
    grid-column: 1/2;
}
#image3 {
    grid-row: 3/4;
    grid-column: 3/4;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    #background1, #background2, #background3{
        height: 600px;
    }
}