body{
    background-color: rgb(113, 190, 228);
}

footer p{
    font-size: 1.0em;
    text-align: center;
    color:black;
    margin:0;
}
header .hover{
    color:black;
}
header p{
    color: white;

}
main div{
    font-size: 50%;
    color:white(214, 123, 123);
}
#content{
    text-align: center;
}
main h2{
    text-align: center;
    color:white;
    font-size: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
img{
    width: 30%;
}
#main_title{
    color:white;
}