@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Oleo+Script:wght@400;700&display=swap');
--primary-color: #457B9D   ;
--secondary-color: #1D3557 ;
--accent1-color: #E63946;
--accent2-color: #F1FAEE;

#content {
    margin: 0 auto;
    max-width: 1600px;
    font-family: "Frank Ruhi Libre", "Bradley Hand", sans-serif;
}
body {
    background-color:white;
    font-family: "Frank Ruhi Libre", "Bradley Hand", sans-serif; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:white;
    font-family: "Oleo Script", "Bradley Hand", sans-serif; 
    display: grid;
    grid-template-columns: 150px auto;
    border: #E63946 medium dashed;
}
nav a{
    text-align: center;
    color:#1D3557 ;
    padding: 50px;
}
nav {
    display: flex;
    justify-content: flex-end;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
}
#map {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    width: 100%;
    background-color: #F1FAEE;
}
#map-box {
    grid-column: 3/4;
    grid-row: 2/3;
    width:100%
}
#map h1{
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    color:#1D3557;
    font-family: "Oleo Script", "Bradley Hand", sans-serif; 
}
#map p {
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: left;
    padding: 70px;
    font-size: 150%;
    line-height: 2.5;
    color:#457B9D;
    
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin:100px 30px;
    justify-items: center;
}
.photo1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.photo2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.photo3 {
    grid-column: 3/4;
    grid-row: 1/2;
}
.photo4 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.photo5 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.photo6 {
    grid-column: 3/4;
    grid-row: 2/3;
}
.photo7 {
    grid-column: 1/2;
    grid-row: 3/4;
}
.photo8 {
    grid-column: 2/3;
    grid-row: 3/4;
}
.photo9 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.photo1 h2, .photo2 h2, .photo3 h2,.photo4 h2, .photo5 h2,.photo6 h2, .photo7 h2,.photo8 h2,.photo9 h2 {
    font-size: 20px;
    text-align: center;
    color: #457B9D;
}
#background {
    background-color:#F1FAEE;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
}
#img-box {
    grid-column: 1/6;
    grid-row: 1/4;
    margin: 40px;
}
.msg {
    background-color:#A8DADC;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 5/9;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #6f7364;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer {
    background-color:white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:#E63946 medium dashed;
}
footer, .social img {
    padding-top: 15px;
}
footer a {
    text-decoration: none;
    font-family: "Oleo Script", "Bradley Hand", sans-serif; 
}
footer p {
    font-size: 1.2em; 
    font-family: "Oleo Script", "Bradley Hand", sans-serif;
    color:#1D3557;
}
footer p a:hover {
    text-decoration: underline;
}