
{
    border:2px solid red;
}
body {
    background-color:white;
    padding: 0;
}
#content {
    max-width: 1000px;
    margin: 0 auto;
}
nav {
    display:flex;
    justify-content:center;
    background-color: rgb(152, 202, 167);
}
.nav_link {
    padding: 10px;
    color: black;
    font-size: 1.3em;
    text-decoration: none;
    text-align:center;
}
img {
    width: 50%;
    display:black;
    margin: 0 auto;
}
a{
    color:balck;
}
nav a:hover{
    color: rgb(89, 87, 87);
    background-color: white;
}
#main_title {
    font-size: 4em;
    text-align:center;
}
p, h3 {
    text-align:center;
}
#sub_title {
    color:rgb(99, 109, 185);
}
#img_cont{
    text-align:center;
}
footer {
    background-color: rgb(152, 202, 167);
    padding:20px;
}
footer a {
    color:white;
}